.project-page-center{
   width: 90vw;
   max-width: 80rem;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   @media screen and (max-width:768px){
      width: 95vw;

      @media screen and (max-width : 426px){
         width: 98vw;
      }
   }
}